# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Secrets
token.txt
.env
*.env

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db